<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dhyuestc.todo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ToDo</name>
    <description>
       Ionic Framework-based ToDo list app.
    </description>
    <author email="dhyuestc@gmail.com" href="http://www.weibo.com/sunnydhy">
        dhyuestc
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
    <!-- you can use any density that exists in the Android project -->
	
	<icon src="www/res/icon/android/icon-32-ldpi.png" density="ldpi" />
    <icon src="www/res/icon/android/icon-48-mdpi.png" density="mdpi" />
    <icon src="www/res/icon/android/icon-72-hdpi.png" density="hdpi" />
    <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xhdpi" />

    <splash src="www/res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="www/res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="www/res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="www/res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

    <splash src="www/res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="www/res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="www/res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="www/res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
	</platform>

	 <preference name="SplashScreen" value="screen"/> 	<!--这里的value值必须和转换后的platform/android/res/ 中的图片名称相同！ -->
	<preference name="SplashScreenDelay" value="10000" /> <!-- Splash显示时间，默认为3000ms -->

<!-- 	 <feature name="SplashScreen">
	<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
	</feature> -->
</widget>



